<div class="head mt-5">
    <h1 class="text-center">GENERAL SURGERY</h1>
    <h6 class="text-center" style="margin-bottom: 60px;"><a href="departmenthome">Department</a> > General Surgery</h6>
    <div>
        <div class="dashboard">
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1543208339.jpg"
                            alt="Dr. Mohammad Israt Faisal">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Mohammad Israt Faisal</h2>
                        <p><strong>Specialty:</strong>Consultant – General Surgery</p>
                        <p><strong>Degree:</strong> MBBS, FCPS (Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1521004957Dr_Yasin_(4).JPG"
                            alt="Dr. Mohammad Yasin Chowdhury">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Mohammad Yasin Chowdhury</h2>
                        <p><strong>Specialty:</strong>Consultant, General & Laparoscopic Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS, MS, FMAS (India), FACS (USA)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367212.png"
                            alt="Dr. Tanny Tarafder">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Tanny Tarafder</h2>
                        <p><strong>Specialty:</strong>Consultant - General Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery), MRCS (UK)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367271.png"
                            alt="Prof. Dr. Arif Salam Khan">
                    </div>
                    <div class="card-body">
                        <h2>Prof. Dr. Arif Salam Khan</h2>
                        <p><strong>Specialty:</strong>Consultant, Hepatobiliary Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367360.png"
                            alt="Prof. Dr. Mohammad Abdullah Al Mamun">
                    </div>
                    <div class="card-body">
                        <h2>Prof. Dr. Mohammad Abdullah Al Mamun</h2>
                        <p><strong>Specialty:</strong>Consultant, Colorectal & Laparoscopic Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS, MRCS</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <!-- Repeat the above dashboard structure for other departments -->
    </div>
</div>