<div class="head mt-5">
    <h1 class="text-center">CARDIAC & VASCULAR SURGERY</h1>
    <h6 class="text-center" style="margin-bottom: 60px; margin-top: 10px;"><a href="departmenthome">Department</a> > Cardiac Vascular Surgery</h6>
    <div>

        <div class="dashboard">
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1699177566.png"
                            alt="Dr. A M Rejaus Satter">
                    </div>
                    <div class="card-body">
                        <h2>Dr. A M Rejaus Satter</h2>
                        <p><strong>Specialty:</strong>MBBS, MS (CVTS), FACS (USA), FRCS (Glasg)</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery), MS (Neurosurgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1714882427.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Akhtanur Rahman Joarder</h2>
                        <p><strong>Specialty:</strong>Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardio-Vascular & Thoracic Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1699177751.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Mesbah Uddin</h2>
                        <p><strong>Specialty:</strong>Associate Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardiac Surgery), FACS (USA)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1714882964.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Sultan Sarwar Parvez</h2>
                        <p><strong>Specialty:</strong>Associate Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardio-Vascular & Thoracic Surgery), FACS (USA), MRCPS (Glasgow)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>
        <!-- Repeat the above dashboard structure for other departments -->
    </div>
</div>