<div class="page-wrapper">
  <div class="content">
    <div class="doctor-list">
      <h2>Doctors List</h2>
      <table>
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Specialization</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors">
            <td>{{ doctor.firstname }} {{ doctor.lastname }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.department }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>