<!-- Care Health Center -->

<div class="header">
  <div class="header-left">
    <a class="logo" href="welcome">
      <img alt="" height="35" src="../../../assets/img/logo.png" width="35">
      <span>Care Health</span>
    </a>
  </div>
  <a href="javascript:void(0);" id="toggle_btn"><i class="fa fa-bars"></i></a>
  <a class="mobile_btn float-left" href="#sidebar" id="mobile_btn"><i class="fa fa-bars"></i></a>
  <ul class="nav user-menu float-right">
    <li class="nav-item dropdown d-none d-sm-block">
      <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"><i class="fa fa-bell-o"></i> <span
        class="badge badge-pill bg-danger float-right">3</span></a>
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span>Notifications</span>
        </div>
        <div class="drop-scroll">
          <ul class="notification-list">
            <li class="notification-message">
              <a href="">
                <div class="media">
                                        <span class="avatar">
                                            <img alt="John Doe" class="img-fluid" src="../../../assets/img/user.jpg">
                                        </span>
                  <div class="media-body">
                    <p class="noti-details"><span class="noti-title">John Doe</span> added new
                      task <span class="noti-title">Patient appointment booking</span></p>
                    <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="">
                <div class="media">
                  <span class="avatar">V</span>
                  <div class="media-body">
                    <p class="noti-details"><span class="noti-title">Tarah Shropshire</span>
                      changed the task name <span class="noti-title">Appointment booking with
                                                    payment gateway</span></p>
                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="">
                <div class="media">
                  <span class="avatar">L</span>
                  <div class="media-body">
                    <p class="noti-details"><span class="noti-title">Misty Tison</span> added
                      <span class="noti-title">Domenic Houston</span> and <span
                        class="noti-title">Claire Mapes</span> to project <span
                        class="noti-title">Doctor available module</span>
                    </p>
                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="">
                <div class="media">
                  <span class="avatar">G</span>
                  <div class="media-body">
                    <p class="noti-details"><span class="noti-title">Rolland Webber</span>
                      completed task <span class="noti-title">Patient and Doctor video
                                                    conferencing</span></p>
                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                  </div>
                </div>
              </a>
            </li>
            <li class="notification-message">
              <a href="">
                <div class="media">
                  <span class="avatar">V</span>
                  <div class="media-body">
                    <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>
                      added new task <span class="noti-title">Private chat module</span></p>
                    <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="topnav-dropdown-footer">
          <a href="/activities">View all Notifications</a>
        </div>
      </div>
    </li>



<!-- Role Base Nav -->

    <ng-container *ngIf="(authService.getRole() | async) === Role.PATIENT">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> PATIENT</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.ADMIN">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> ADMIN</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.DOCTOR">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> DOCTOR</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.NURSE">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> NURSE</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.PHARMACIST">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> PHARMACIST</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.RECEPTIONIST">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> RECEPTIONIST</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>


    <ng-container *ngIf="(authService.getRole() | async) === Role.LABORATORIST">
      <li class="nav-item dropdown has-arrow">
        <a class="dropdown-toggle nav-link user-link" data-toggle="dropdown" href="#">
                        <span class="user-img">
                            <img class="rounded-circle" src="../../../assets/img/user.jpg" width="24">
                            <span class="status online"></span>
                        </span>
          <span> LABORATORIST</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminprofile">My Profile</a>
          <a class="dropdown-item" href="adminprofileedit">Edit Profile</a>
          <a class="dropdown-item" href="changepassword">Settings</a>
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </div>
      </li>
    </ng-container>

  </ul>
</div>
