<div class="container">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Update Appointment:</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="viewappointment" class="btn btn-primary btn-rounded float-end text-white m-1">
                <i class="fa fa-arrow-left"></i><span> Back </span>
            </a>
        </div>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="patientName">Patient Name:</label>
            <input id="patientName" type="text" [(ngModel)]="appointment.patientName" name="patientName" required />
        </div>
        <div class="form-group">
            <label for="patientEmail">Patient Email:</label>
            <input id="patientEmail" type="email" [(ngModel)]="appointment.patientEmail" name="patientEmail" required />
        </div>
        <div class="form-group">
            <label for="appointmentDate">Appointment Date:</label>
            <input id="appointmentDate" type="date" [(ngModel)]="appointment.appointmentDate" name="appointmentDate"
                required />
        </div>
        <div class="form-group">
            <label for="appointmentTime">Appointment Time:</label>
            <input id="appointmentTime" type="time" [(ngModel)]="appointment.appointmentTime" name="appointmentTime"
                required />
        </div>
        <div class="form-group">
            <label for="department">Department Name:</label>
            <input type="text" id="department" [(ngModel)]="appointment.department.name" name="department" required />
        </div>

        <div class="form-group">
            <label for="doctor">Doctor Name:</label>
            <input type="text" id="doctor" [(ngModel)]="appointment.doctor.firstname" name="doctor" required />
        </div>
        <button type="submit" class="mt-3">Update Appointment</button>
    </form>
</div>