<div class="bill-list-container">
  <h2 class="text-center">Medicine Bills</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bill of bills">
      <td>{{ bill.id }}</td>
      <td>{{ bill.name }}</td>
      <td>{{ bill.phone }}</td>
      <td>{{ bill.email }}</td>
      <td>{{ bill.totalAmount }}</td>
      <td>{{ bill.status }}</td>
      <td>
        <button (click)="deleteBill(bill.id)" class="btn btn-danger">Delete</button>

        <a [routerLink]="['/medicine-bill/invoice', bill.id]" class="btn btn-success">View Invoice</a>

      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="apiError" class="alert alert-danger">{{ apiError }}</div>
</div>
