<div class="container">
    <h2>Create Prescription</h2>

    <!-- Select Patient -->
    <div class="form-group">
        <label for="userSelect">Select Patient</label>
        <select id="userSelect" class="form-control" [(ngModel)]="selectedUser" (change)="onUserSelect()">
            <option *ngFor="let user of users" [ngValue]="user">
                {{ user.name }}
            </option>
        </select>
    </div>

    <!-- Display Selected Patient Details in a Card -->
    <div *ngIf="selectedUser" class="card p-2 mb-3">
        <div class="card-body">
            <h5 class="card-title mb-2">Patient Details</h5>
            <div class="d-flex justify-content-start align-items-center flex-wrap">
                <div class="mr-5">
                    <strong>Name:</strong> {{ selectedUser.name }}
                </div>
                <div class="mr-3">
                    <strong>Mobile:</strong> {{ selectedUser.cell }}
                </div>
                <div class="mr-3">
                    <strong>Email:</strong> {{ selectedUser.email }}
                </div>
                <div>
                    <strong>Address:</strong> {{ selectedUser.address }}
                </div>
            </div>
        </div>
    </div>



    <!-- Select Medicines -->
    <div class="form-group">
        <label for="medicines">Select Medicines:</label>
        <select class="form-control" [(ngModel)]="selectedMedicine" (change)="onMedicineSelect()">
            <option *ngFor="let medicine of medicines" [ngValue]="medicine">
                {{ medicine.medicineName }}
            </option>
        </select>
    </div>

    <!-- Display Selected Medicines in Card Form -->
    <div class="selected-medicine">
        <div class="row">
            <div class="col-md-4" *ngFor="let medicine of selectedMedicines; let i = index">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ medicine.medicineName }}</h5>
                        <p class="card-text">
                            <strong>Strength:</strong> {{ medicine.medicineStrength }} <br />
                            <strong>Instructions:</strong> {{ medicine.instructions }}
                        </p>
                        <button type="button" class="btn btn-danger" (click)="removeMedicine(i)">Remove
                            Medicine</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Select Tests -->
    <div class="form-group">
        <label for="tests">Select Tests:</label>
        <select class="form-control" [(ngModel)]="selectedTest" (change)="onTestSelect()">
            <option *ngFor="let test of tests" [ngValue]="test">
                {{ test.testName }}
            </option>
        </select>
    </div>


    <!-- Display Selected Tests in Card Form -->
    <div class="selected-tests">
        <div class="row">
            <div class="col-md-4" *ngFor="let test of selectedTests; let i = index">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ test.testName }}</h5>
                        <p class="card-text">
                            <strong>Description:</strong> {{ test.description }} <br />
                            <strong>Instructions:</strong> {{ test.instructions }}
                        </p>
                        <button type="button" class="btn btn-danger" (click)="removeTest(i)">Remove Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Notes -->
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" [(ngModel)]="prescription.notes"></textarea>
    </div>

    <!-- Create Prescription Button -->
    <button class="btn btn-primary" (click)="createPrescription(prescription)">Create Prescription</button>
</div>