<div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Appointments List</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
          <a href="addappointment" class="btn btn-primary btn-rounded float-end text-white m-1">
            <i class="fa fa-plus"></i><span> Add Appointment</span>
          </a>
        </div>
      </div>
  
      <div class="appointment-list">
        <h2>Appointments List</h2>
        <table>
          <thead>
            <tr>
              <th>Patient Name</th>
              <th>Email</th>
              <th>Department</th>
              <th>Doctor</th>
              <th>Date</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{appointment.patientName}}</td>
              <td>{{appointment.patientEmail}}</td>
              <td>{{appointment.department.name}}</td>
              <td>{{appointment.doctor.firstname}}</td>
              <td>{{appointment.appointmentDate}}</td>
              <td>{{appointment.appointmentTime}}</td>
              <td>
                <button (click)="editAppointment(appointment.id)">Edit</button>
                <button (click)="deleteAppointment(appointment.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  