<div class="head mt-5">
    <h1 class="text-center">CHILD DEVELOPMENT</h1>
    <h6 class="text-center" style="margin-bottom: 60px;"><a href="departmenthome">Department</a> > Child Development
    </h6>
    <div>
        <div class="dashboard">
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1716367107.png"
                            alt="Dr. Major (Retd) Zeena Salwa">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Major (Retd) Zeena Salwa</h2>
                        <p><strong>Specialty:</strong> Consultant, Pediatrics and Child Development Center (CDC)</p>
                        <p><strong>Degree:</strong> MBBS, DCH, FCPS (Paed), Clinical Training on Pediatric Neurology
                            (India), Training on EEG and Epilepsy in USA</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <!-- Repeat the above dashboard structure for other departments -->
    </div>
</div>