<!-- <div class="appointment-container" *ngIf="recentAppointment">
    <h2>Most Recent Appointment</h2>
  
    <div class="appointment-details">
      <div class="appointment-header">
        <h3>Welcome, {{ recentAppointment.patientName }}!</h3>
      </div>
      <div class="appointment-info">
        <p>Your appointment with <strong>{{ recentAppointment.doctor.firstname }} {{ recentAppointment.doctor.lastname
            }}</strong> in the <strong>{{ recentAppointment.department.name }}</strong> department has been successfully
          scheduled.</p>
        <p><strong>Appointment Date:</strong> {{ recentAppointment.appointmentDate | date: 'fullDate' }}</p>
        <p><strong>Appointment Time:</strong> {{ recentAppointment.appointmentTime }}</p>
      </div>
    </div>
  </div> -->