<div class="head mt-5">
    <h1 class="text-center">ALL DOCTORS</h1>
    <h6 class="text-center" style="margin-bottom: 60px;"><a href="departmenthome">Department</a> > Doctors</h6>
    <div>
        <div class="dashboard">
            <header class="department">
                <h1>CHILD DEVELOPMENT</h1>
            </header>
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1716367107.png"
                            alt="Dr. Major (Retd) Zeena Salwa">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Major (Retd) Zeena Salwa</h2>
                        <p><strong>Specialty:</strong> Consultant, Pediatrics and Child Development Center (CDC)</p>
                        <p><strong>Degree:</strong> MBBS, DCH, FCPS (Paed), Clinical Training on Pediatric Neurology
                            (India), Training on EEG and Epilepsy in USA</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <div class="dashboard">
            <header class="department">
                <h1>GENERAL SURGERY</h1>
            </header>
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1543208339.jpg"
                            alt="Dr. Mohammad Israt Faisal">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Mohammad Israt Faisal</h2>
                        <p><strong>Specialty:</strong>Consultant – General Surgery</p>
                        <p><strong>Degree:</strong> MBBS, FCPS (Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1521004957Dr_Yasin_(4).JPG"
                            alt="Dr. Mohammad Yasin Chowdhury">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Mohammad Yasin Chowdhury</h2>
                        <p><strong>Specialty:</strong>Consultant, General & Laparoscopic Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS, MS, FMAS (India), FACS (USA)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367212.png"
                            alt="Dr. Tanny Tarafder">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Tanny Tarafder</h2>
                        <p><strong>Specialty:</strong>Consultant - General Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery), MRCS (UK)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367271.png"
                            alt="Prof. Dr. Arif Salam Khan">
                    </div>
                    <div class="card-body">
                        <h2>Prof. Dr. Arif Salam Khan</h2>
                        <p><strong>Specialty:</strong>Consultant, Hepatobiliary Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1674367360.png"
                            alt="Prof. Dr. Mohammad Abdullah Al Mamun">
                    </div>
                    <div class="card-body">
                        <h2>Prof. Dr. Mohammad Abdullah Al Mamun</h2>
                        <p><strong>Specialty:</strong>Consultant, Colorectal & Laparoscopic Surgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS, MRCS</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <div class="dashboard">
            <header class="department">
                <h1>ORTHOPEDICS</h1>
            </header>
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1521003169Dr_Fazlul_(4).JPG"
                            alt="Dr. Md. Fazlul Hoque">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Fazlul Hoque</h2>
                        <p><strong>Specialty:</strong>Senior Consultant, Orthopedics & Spine Surgery</p>
                        <p><strong>Degree:</strong>MBBS, D. (Ortho), FA (Ortho), FAMA Trained in Orthopedic and Spinal Surgery (UK & USA)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1566274320.jpg"
                            alt="Dr. Md. O.F.G Kibria">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. O.F.G Kibria</h2>
                        <p><strong>Specialty:</strong>Senior Consultant, Orthopedics</p>
                        <p><strong>Degree:</strong>MBBS, MS (Orthopedic)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1670918911.png"
                            alt="Brig. Gen. Prof. Dr. Moklesur Rahman">
                    </div>
                    <div class="card-body">
                        <h2>Brig. Gen. Prof. Dr. Moklesur Rahman</h2>
                        <p><strong>Specialty:</strong>Senior Consultant, Orthopedics</p>
                        <p><strong>Degree:</strong>MBBS (DMC), MS (Ortho), FACS (USA), Fellow Hand, Upper Limb & Microsurgery (Thailand)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <div class="dashboard">
            <header class="department">
                <h1>NEURO SURGERY</h1>
            </header>
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1634536659.jpg"
                            alt="Dr. A M Rejaus Satter">
                    </div>
                    <div class="card-body">
                        <h2>Dr. A M Rejaus Satter</h2>
                        <p><strong>Specialty:</strong>Consultant, Neurosurgery</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery), MS (Neurosurgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1566274356.jpg"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Sirazul Haque Ershad</h2>
                        <p><strong>Specialty:</strong>Associate Consultant, Neurosurgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Neurosurgery), Fellowship in Neuro intervention (INK, India)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>

        <div class="dashboard">
            <header class="department">
                <h1>CARDIAC & VASCULAR SURGERY</h1>
            </header>
            <section class="doctors">
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1699177566.png"
                            alt="Dr. A M Rejaus Satter">
                    </div>
                    <div class="card-body">
                        <h2>Dr. A M Rejaus Satter</h2>
                        <p><strong>Specialty:</strong>MBBS, MS (CVTS), FACS (USA), FRCS (Glasg)</p>
                        <p><strong>Degree:</strong>MBBS, FCPS (Surgery), MS (Neurosurgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1714882427.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Akhtanur Rahman Joarder</h2>
                        <p><strong>Specialty:</strong>Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardio-Vascular & Thoracic Surgery)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1699177751.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Mesbah Uddin</h2>
                        <p><strong>Specialty:</strong>Associate Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardiac Surgery), FACS (USA)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="https://www.squarehospital.com/storage/images/1714882964.png"
                            alt="Dr. Md. Sirazul Haque Ershad">
                    </div>
                    <div class="card-body">
                        <h2>Dr. Md. Sultan Sarwar Parvez</h2>
                        <p><strong>Specialty:</strong>Associate Consultant, Cardiac Surgery</p>
                        <p><strong>Degree:</strong>MBBS, MS (Cardio-Vascular & Thoracic Surgery), FACS (USA), MRCPS (Glasgow)</p>
                        <div class="card-buttons">
                            <button><a href="appointment" class="text-white">Get Appointment</a></button>
                            <!-- <button>Doctor Profile</button> -->
                        </div>
                    </div>
                </div>
                <!-- Repeat the above card structure for other doctors -->
            </section>
        </div>
        <!-- Repeat the above dashboard structure for other departments -->
    </div>
</div>