<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div class="sidebar-menu" id="sidebar-menu">
      <ul>
        <li class="menu-title">Main</li>


        <ng-container *ngIf="(authService.getRole() | async) === Role.ADMIN">

          <li>
            <a href="doctorprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a href="doappointment"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment</span></a>
          </li>
          <li class="submenu">
            <a href="viewpatient"><i class="fa fa-address-card-o"></i> <span>Patient</span> <span
              class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a href="viewpatient"><i class="fa fa-calendar-check-o"></i> <span>Patient
                                        Crud</span></a>
              <a href="patientlist"><i class="fa fa-list-ul"></i> <span> Patient List</span></a>
            </ul>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>


        <ng-container *ngIf="(authService.getRole() | async) === Role.NURSE">

          <li>
            <a href="nurseprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a href="listappointment"><i class="fa fa-calendar-check-o"></i>
              <span>Appointment</span></a>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>


        <ng-container *ngIf="(authService.getRole() | async) === Role.RECEPTIONIST">

          <li>
            <a href="receptionist-profile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li class="submenu">
            <a href="listappointment"><i class="fa fa-calendar-check-o"></i> <span>Appointment</span> <span
              class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a href="addappointment"><i class="fa fa-calendar-check-o"></i>
                <span>Appointment Add</span></a>
              <a href="listappointment"><i class="fa fa-list-ul"></i> <span> Appointments
                                        List</span></a>
            </ul>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>


        <ng-container *ngIf="(authService.getRole() | async) === Role.PATIENT">

          <li>
            <a href="patientprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li>
              <a href="doappointment"><i class="fa fa-dashboard"></i> <span>Appointment</span></a>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>


        <ng-container *ngIf="(authService.getRole() | async) === Role.ADMIN">

          <li>
            <a href="adminprofile"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          </li>
          <li class="submenu">
            <a href="viewdoctor"><i class="fa fa-user-md"></i> <span> User </span> <span
              class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a [routerLink]="['/user-add']"><i class="fa fa-user-md"></i> <span>New User</span></a>
              <a [routerLink]="['/user-list']"><i class="fa fa-list-ul"></i> <span> User List</span></a>
            </ul>
          </li>
          <li class="submenu">
            <a href="viewnurse"><i class="fa fa-wheelchair"></i> <span> Nurse </span> <span
              class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a href="viewnurse"><i class="fa fa-wheelchair"></i> <span>Nurse Crud</span></a>
              <a href="nurselistadmin"><i class="fa fa-list-ul"></i> <span> Nurse List</span></a>
            </ul>
          </li>
          <li class="submenu">
            <a href="viewrecep"><i class="fa fa-calendar-check-o"></i> <span> Receptionist </span> <span
              class="menu-arrow"></span></a>
            <ul style="display: none;">
              <a href="viewrecep"><i class="fa fa-calendar-check-o"></i> <span>Receptionist
                                        Crud</span></a>
              <a href="receplistadmin"><i class="fa fa-list-ul"></i> <span> Receptionist
                                        List</span></a>
            </ul>
          </li>
          <li>
            <a href="viewdepartment"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
          </li>


          <li>
            <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
          </li>
          <li>
            <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
          </li>
          <li>
            <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
          </li>
          <li>
            <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
          </li>
          <li>
            <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
          </li>

        </ng-container>


        <!-- <ng-container
            *ngIf="authService.getRole() === ['admin', 'user', 'doctor', 'nurse', 'receptionist']">

            <li>
                <a href="payroll"><i class="fa fa-book"></i> <span> Payroll </span></a>
            </li>
            <li>
                <a href="activities"><i class="fa fa-bell-o"></i> <span>Activities</span></a>
            </li>
            <li>
                <a href="changepassword"><i class="fa fa-cog"></i> <span>Settings</span></a>
            </li>
            <li>
                <a href="salary"><i class="fa fa-money"></i> <span> Salary Settings</span></a>
            </li>
            <li>
                <a href="leave"><i class="fa fa-cogs"></i> <span> Leave Type</span></a>
            </li>

        </ng-container> -->


      </ul>
    </div>
  </div>
</div>
