<!-- <div *ngIf="isAuthenticated">
 <router-outlet></router-outlet>

</div>

<div *ngIf="!isAuthenticated">
    <router-outlet></router-outlet>
</div> -->

<!-- app.component.html -->

<nav *ngIf="(authService.currentUser$ | async) as currentUser">
    <app-navbar></app-navbar>
</nav>

<nav *ngIf="(authService.currentUser$ | async) as currentUser">
    <app-sidebar></app-sidebar>
</nav>

<nav *ngIf="(authService.currentUser$ | async) == null">
    <app-navbarhome></app-navbarhome>
</nav>

<router-outlet></router-outlet>

<footer *ngIf="(authService.currentUser$ | async) == null">
    <app-footerhome></app-footerhome>
</footer>