<div class="page-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-sm-4 col-3">
          <h4 class="page-title">Nurses</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
          <a href="addnurse" class="btn btn-primary btn-rounded float-end text-white m-1">
            <i class="fa fa-plus"></i>
            <span>Add Nurse</span>
          </a>
        </div>
      </div>
      
      <div class="nurse-list">
        <h2>Nurses List</h2>
        <table>
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>DoB</th>
              <th>Gender</th>
              <th>Specialization</th>
              <th>Department</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let nurse of nurses">
              <td>{{nurse.employeeid}}</td>
              <td>{{nurse.firstname}}</td>
              <td>{{nurse.lastname}}</td>
              <td>{{nurse.email}}</td>
              <td>{{nurse.phone}}</td>
              <td>{{nurse.address}}</td>
              <td>{{nurse.dob}}</td>
              <td>{{nurse.gender ? 'Male' : 'Female'}}</td>
              <td>{{nurse.specialization}}</td>
              <td>{{nurse.department}}</td>
              <td>
                <button class="m-1" (click)="updateNurse(nurse.id)">Update</button>
                <button class="btn btn-danger m-1" (click)="deleteNurse(nurse.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  