<div class="container">
    <h2>Create Test</h2>
    <form (ngSubmit)="createTest()">
        <div class="form-group">
            <label for="testName">Test Name:</label>
            <input type="text" id="testName" [(ngModel)]="test.testName" name="testName" required
                class="form-control" />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="test.description" name="description" required
                class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="result">Result List:</label>
            <textarea id="result" [(ngModel)]="test.result" name="result" required
                class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" [(ngModel)]="test.instructions" name="instructions" required
                class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Test</button>
    </form>
</div>