<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 col-6">
            <h4 class="page-title text-left">Add Appointment:</h4>
        </div>
        <div class="col-sm-6 col-6 text-right m-b-20">
            <a href="viewappointment" class="btn btn-primary btn-rounded float-end text-white m-1">
                <i class="fa fa-arrow-left"></i><span> Back </span>
            </a>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="patientName">Patient Name:</label>
            <input type="text" id="patientName" [(ngModel)]="appointment.patientName" name="patientName" required />
        </div>

        <div class="form-group">
            <label for="patientEmail">Patient Email:</label>
            <input type="email" id="patientEmail" [(ngModel)]="appointment.patientEmail" name="patientEmail" required />
        </div>

        <div class="form-group">
            <label for="appointmentDate">Appointment Date:</label>
            <input type="date" id="appointmentDate" [(ngModel)]="appointment.appointmentDate" name="appointmentDate"
                required />
        </div>

        <div class="form-group">
            <label for="appointmentTime">Appointment Time:</label>
            <input type="time" id="appointmentTime" [(ngModel)]="appointment.appointmentTime" name="appointmentTime"
                required />
        </div>

        <div class="form-group">
            <label for="department">Department Name:</label>
            <select class="form-select bg-light border-0" style="height: 55px;" [(ngModel)]="selectedDepartmentId"
                name="departmentId">
                <option [ngValue]="null">Select A Service</option>
                <option *ngFor="let department of departments" [value]="department.id">
                    {{ department.name }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="doctor">Doctor Name:</label>
            <select class="form-select bg-light border-0" style="height: 55px;" [(ngModel)]="selectedDoctorId"
                name="doctorId">
                <option [ngValue]="null">Select A Service</option>
                <option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{ doctor.firstname }} {{ doctor.lastname }}
                </option>
            </select>
        </div>

        <input class="m-3 btn btn-success" type="submit" value="Add Appointment">
    </form>
</div>