<div class="board mt-5">
    <header class="department mb-5 mt-3">
        <h1 style="color: darkslategray;">ALL DEPARTMENTS</h1>
    </header>
    <section class="departments">
        <div class="card"><a href="childdepart" style="color: black;">CHILD DEVELOPMENT</a></div>
        <div class="card"><a href="generaldepart" style="color: black;">GENERAL SURGERY</a></div>
        <div class="card"><a href="orthodepart" style="color: black;">ORTHOPEDICS DEVELOPMENT</a></div>
        <div class="card"><a href="neurodepart" style="color: black;">NEURO SURGERY</a></div>
        <div class="card"><a href="cardiac" style="color: black;">CARDIAC & VASCULAR SURGERY</a></div>
    </section>
</div>